@use "/src/assets/styles/colors";

.container {
  background-color: colors.$background-gray;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  transition: 0.3s;
  position: absolute;
  overflow-y: auto;

  .menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
}

.close {
  transform: translateX(100vw);
  transition: 0.3s;
}

h3 {
  margin-bottom: 15px;
  padding: 5px;
}
