@use "/src/assets/styles/colors";

.sidebarCreateNote {
  height: 100px;
  width: 22vw;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid colors.$gray;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  font-style: italic;
  letter-spacing: 0.15rem;

  &:hover {
    border-radius: 8px;
    border-color: colors.$orange;
    background-color: colors.$active-gray;
  }
}
