@use "/src/assets/styles/colors";

.sidebar {
  background-color: colors.$background-gray;
  height: 100%;
  width: 25vw;
  position: absolute;
  border-right: 2px solid black;
  transition: 0.3s;
  padding: 20px;
  overflow: auto;
}

.close {
  transform: translateX(-100vw);
  transition: 0.3s;
}
