@use "/src/assets/styles/default";
@use "/src/assets/styles/colors";

.headerRight {
  padding: 10px;
  width: 75vw;
  height: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .saving {
    display: flex;
    gap: 20px;
  }

  .icons {
    @include default.icons;
  }

  .disabledIcons {
    @include default.disabledIcons;
  }
}
