@use "/src/assets/styles/colors";

.headerLeft {
  width: 25vw;
  height: 100%;
  border-right: 2px solid black;
  width: 25vw;
  height: 100%;
  padding: 10px;
  border-right: 2px solid black;

  display: flex;
  justify-content: space-between;
  align-items: center;

  .icons {
    font-size: 40px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: colors.$active-gray;
    }
  }

  display: flex;
  justify-content: space-between;
  align-items: center;

  .icons {
    font-size: 40px;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: colors.$active-gray;
    }
  }

  .activeIcon {
    background-color: colors.$active-gray;
  }

  .formatNotes {
    display: flex;
    gap: 6px;
  }

  .addDelBtn {
    display: flex;
    gap: 6px;
  }
}

.tileFormat {
  border-right: 1px solid colors.$gray;
  transition: 0.3s;
}
