@use "/src/assets/styles/colors";

.header {
  background-color: colors.$background-gray;
  height: 8vh;
  width: 100vw;
  display: flex;
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  z-index: 100;
  margin-bottom: 100px;
}
