@use "/src/assets/styles/colors";

.listItem {
  height: 100px;
  width: 22vw;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid colors.$gray;
  cursor: pointer;
  overflow: hidden;

  &:hover {
    border-radius: 8px;
    border: none;
    background-color: colors.$active-gray;
  }

  h4 {
    margin: 0;
    font-size: larger;
  }

  .content {
    height: 50px;
    overflow: hidden;
    * {
      margin: 5px 0;
      color: colors.$gray;
    }
  }
}

.active {
  border-radius: 8px;
  border: none;
  background-color: colors.$active-gray;
}
