@use "/src/assets/styles/colors";

.listItem {
  height: 80px;
  width: 22vw;
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid colors.$gray;
  cursor: pointer;

  &:hover {
    border-radius: 8px;
    border: none;
    background-color: colors.$active-gray;
  }
}

.active {
  border-radius: 8px;
  border: none;
  background-color: colors.$active-gray;
}
