@use "/src/assets/styles/colors";

@mixin icons {
  font-size: 40px;
  padding: 5px;
  border-radius: 5px;
  margin: 4px;
  cursor: pointer;

  &:hover {
    background-color: colors.$active-gray;
  }
}

@mixin activeIcon {
  font-size: 40px;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  margin: 4px;
  border: 1px solid colors.$gray;

  &:hover {
    background-color: colors.$active-gray;
  }
}

@mixin disabledIcons {
  font-size: 40px;
  padding: 5px;
  margin: 4px;

  border-radius: 5px;
  color: colors.$gray;
}
